li {
	display: inline;
	margin-right: 5px;
}

#sesionn {
	background-color: #518CF0;
	font-size: 20px;
	font-family: sans-serif;
}

#topbar {
	position: absolute;
	right: 0px;
}

img {
	display: block;
	margin: auto;
	padding-top: 189px;
}

.center {
	margin-left: 500px;
}

input[type=text] {
	width: 60%;
	padding: 6px;
	margin: 40px 0;
	box-sizing: border-box;
}